@use "vars";

.footer {
  background-color: vars.$siteBrown;
  color: white;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;

  @media (min-width: 768px) {
    padding: 30px 50px;
  }

  p:first-child {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .buttonsHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  .socialButtons {
    display: flex;
    gap: 15px;
  }

  .footerBtn {
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s ease;

    &:hover {
      color: vars.$sitePrimary;
    }
  }

  .docsButton {
    @include vars.siteBtn;

    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 15px;
    font-weight: 500;
    transition: background-color 0.3s, border-color 0.3s;
    text-decoration: none;

    &:hover {
      background-color: vars.$sitePrimary;
      border-color: vars.$sitePrimary;
    }
  }

  .devCallout {
    margin-top: 15px;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.7);

    @media (min-width: 768px) {
      margin-top: 15px;
    }

    a {
      color: vars.$siteLight;
      transition: color 0.3s;
      font-size: 1rem;

      &:hover {
        color: #6ccd6c;
        text-decoration: underline;
      }
    }
    .code {
      &:hover {
        color: rgb(94, 184, 222);
      }
    }
    .heart {
      &:hover {
        color: rgb(237, 75, 75);
      }
    }

    i {
      color: vars.$siteLight;
      margin: 0 2px;
      transition: color 0.3s;
    }
  }
}