@use 'vars';

// ------------------------------------------
// --- MODAL STYLING & ANIMATION ---
// ------------------------------------------

.modal {
    /* 1. Full-Screen Overlay (Hidden by Default) */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
}

.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal.is-visible {
    /* 2. State when Modal is OPEN */
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal-content-wrapper {
    /* 3. Modal Container (Handles the Slide Effect) */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
    width: 90%;
    max-width: 1200px;
    overflow-y: auto;
    z-index: 5;
}

.modal-overlay.is-visible .modal-content-wrapper {
    /* Animation End Point: Center of the screen */
    transform: translateY(0);
}

/* --- Modal Inner Content Styles --- */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    border-bottom: 1px solid #eee;

    h4 {
        color: vars.$sitePrimary;
        margin: 0;
        font-size: 1.5rem;
    }
    .close-btn {
        font-size: 2rem;
        font-weight: 300;
        cursor: pointer;
        color: #777;
        line-height: 1;
        transition: color 0.2s;
        
        &:hover {
            color: vars.$siteLightPrimary;
        }
    }
}

.modal-body {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    
    .modal-image {
        width: 80%;
        max-height: 50vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        
        object-fit: contain;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    p {
        line-height: 1.5;
        color: #555;
    }
}

.modal-footer {
    padding: 15px 20px;
    border-top: 1px solid #eee;
    text-align: right;
}