@use 'vars';

.programsPage {
    margin: 40px 0px;
    .programs-hero {
    @include vars.siteHero;
    background: url("../assets/img/programsHero.jpg") no-repeat center center/cover;
    height: 300px;
    width: 100%;
    
}
    .programGrid {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .programTitle {
            color: white;
        }
        .programCard {
            @include vars.siteCard;
            padding: 20px;
            min-width: 300px;
            border-radius: 10px;
            height: 30vh;
            min-height: 250px;
            max-height: 500px;
            background-color: vars.$siteLightPrimary;
            margin-top: 25px;
            margin-bottom: 20px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column
        }
        .programBtn {
            @include vars.siteBtn;
            background-color: white;
            color: vars.$siteDarkPrimary;
            &:hover {
                background-color: vars.$sitePrimary;
            }
            &:active {
                background-color: vars.$siteDarkPrimary;
                color: white;
            }
        }
    }
}

@media (max-width: 850px) {
    .programsPage {
        .programGrid {
            flex-direction: column;
        }
    }
}